/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template/shop-homepage)
 * Copyright 2020-2020 G&S2
 */
body {
  padding-top: 56px;
  display: flex;
  height: 100vh;
  margin: 0;
}



